<div>
    <h2 id="page-heading">
        <span jhiTranslate="linkderApp.candidate.home.title">Candidates</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-candidate-linkder" [routerLink]="['/candidate-linkder/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="linkderApp.candidate.home.createLabel">
            Create new Candidate
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="candidates">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="linkderApp.candidate.firstName">First Name</span></th>
            <th><span jhiTranslate="linkderApp.candidate.lastName">Last Name</span></th>
            <th><span jhiTranslate="linkderApp.candidate.email">Email</span></th>
            <th><span jhiTranslate="linkderApp.candidate.phoneNumber">Phone Number</span></th>
            <th><span jhiTranslate="linkderApp.candidate.skype">Skype</span></th>
            <th><span jhiTranslate="linkderApp.candidate.linkdin">Linkdin</span></th>
            <th><span jhiTranslate="linkderApp.candidate.salary">Salary</span></th>
            <th><span jhiTranslate="linkderApp.candidate.project">Project</span></th>
            <th><span jhiTranslate="linkderApp.candidate.location">Location</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let candidate of candidates ;trackBy: trackId">
                <td><a [routerLink]="['/candidate-linkder', candidate.id, 'view' ]">{{candidate.id}}</a></td>
                <td>{{candidate.firstName}}</td>
                <td>{{candidate.lastName}}</td>
                <td>{{candidate.email}}</td>
                <td>{{candidate.phoneNumber}}</td>
                <td>{{candidate.skype}}</td>
                <td>{{candidate.linkdin}}</td>
                <td>{{candidate.salary}}</td>
                <td>
                    <div *ngIf="candidate.project">
                        <a [routerLink]="['../project-linkder', candidate.project?.id, 'view' ]" >{{candidate.project?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="candidate.location">
                        <a [routerLink]="['../location-linkder', candidate.location?.id, 'view' ]" >{{candidate.location?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/candidate-linkder', candidate.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/candidate-linkder', candidate.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'candidate-linkder/'+ candidate.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
