<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="match">
            <h2><span jhiTranslate="linkderApp.match.detail.title">Match</span> {{match.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="linkderApp.match.candidate">Candidate</span></dt>
                <dd>
                    <span>{{match.candidate}}</span>
                </dd>
                <dt><span jhiTranslate="linkderApp.match.candidateBool">Candidate Bool</span></dt>
                <dd>
                    <span>{{match.candidateBool}}</span>
                </dd>
                <dt><span jhiTranslate="linkderApp.match.project">Project</span></dt>
                <dd>
                    <span>{{match.project}}</span>
                </dd>
                <dt><span jhiTranslate="linkderApp.match.projectBool">Project Bool</span></dt>
                <dd>
                    <span>{{match.projectBool}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/match-linkder', match.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
