<div>
    <h2 id="page-heading">
        <span jhiTranslate="linkderApp.language.home.title">Languages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-language-linkder" [routerLink]="['/language-linkder/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="linkderApp.language.home.createLabel">
            Create new Language
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="languages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="linkderApp.language.name">Name</span></th>
            <th><span jhiTranslate="linkderApp.language.version">Version</span></th>
            <th><span jhiTranslate="linkderApp.language.candidate">Candidate</span></th>
            <th><span jhiTranslate="linkderApp.language.project">Project</span></th>
            <th><span jhiTranslate="linkderApp.language.position">Position</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let language of languages ;trackBy: trackId">
                <td><a [routerLink]="['/language-linkder', language.id, 'view' ]">{{language.id}}</a></td>
                <td>{{language.name}}</td>
                <td>{{language.version}}</td>
                <td>
                    <div *ngIf="language.candidate">
                        <a [routerLink]="['../candidate-linkder', language.candidate?.id, 'view' ]" >{{language.candidate?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="language.project">
                        <a [routerLink]="['../project-linkder', language.project?.id, 'view' ]" >{{language.project?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="language.position">
                        <a [routerLink]="['../position-linkder', language.position?.id, 'view' ]" >{{language.position?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/language-linkder', language.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/language-linkder', language.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'language-linkder/'+ language.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
